<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <a href="{{ '/' | relative_url }}" class="home-link">Home Page</a>

            <div class="legal-info">
                <p>
                    <strong>lamezzaluna.eu</strong><br>
                    Sede legale: via&nbsp;della&nbsp;Lampara&nbsp;38, Punta&nbsp;Marinav(RA)<br>
                </p>
            </div>

            <nav class="footer-nav">
                <a href="{{ '/privacy-policy' | relative_url }}">Privacy Policy</a>
                <a href="{{ '/cookie-policy' | relative_url }}">Cookie Policy</a>
                <a href="{{ '/termini-e-condizioni' | relative_url }}">Condizioni di Vendita</a>
            </nav>

            <div class="footer-copyright">
                <p>&copy; {{ 'now' | date: "%Y" }} {{ site.company_name}}. Tutti&nbsp;i&nbsp;diritti&nbsp;riservati.</p>
            </div>
        </div>
    </div>
</footer>