<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <a href="{{ '/' | relative_url }}" class="home-link">Home Page</a>

            <div class="legal-info">
                <p>
                    <strong>{{ site.company_name }}</strong><br>
                    Sede legale: {{ site.address }}<br>
                </p>
            </div>

            <nav class="footer-nav">
                <a href="{{ '/privacy-policy' | relative_url }}">Privacy Policy</a>
                <a href="{{ '/cookie-policy' | relative_url }}">Cookie Policy</a>
                <a href="{{ '/termini-e-condizioni' | relative_url }}">Condizioni di Vendita</a>
                <div class="footer-cache-wrapper">
                    <a href="#" onclick="openClearCacheModal(event)">Svuota Cache</a>
                </div>
            </nav>

            <div class="footer-copyright">
                <p>&copy; {{ 'now' | date: "%Y" }} {{ site.company_name}}. Tutti&nbsp;i&nbsp;diritti&nbsp;riservati.</p>
            </div>
        </div>
    </div>
</footer>