<!DOCTYPE html>
<html lang="it">
{% include head.html %}
<body>

    {% include header.html %}

    <main class="container">
        {{ content }}
    </main>

    {% include footer.html %}

    {% if page.url == "/" %}
        {% include cart_bar.html %}
    {% endif %}

    <script>
        const AppConfig = {
            sheetUrl: "{{ site.sheet_url }}",
            phoneNumber: "{{ site.whatsapp_number }}"
        };
    </script>
    
    <script src="{{ '/assets/js/app.js' | relative_url }}"></script>

</body>
</html>